
.accordion{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
    box-shadow: #888888;
    box-shadow: 10px 5px;

}

.bg-dark img {
    max-width: auto;
    text-decoration: white;

}

.mission-card {
    max-width: auto;
    font-size: 35px;
    mix-blend-mode: difference;
    filter:brightness(55%);
    margin-bottom: 90px;
    font-family: 'Amatic SC', cursive;
}

.card-img-top{
    max-width: 20rem;
}

.mb-2 {
    box-shadow: 10px 5px #2b2b2b;
}

.profile-setup {
    margin: auto;
    float: none;
    margin-bottom: 25px;
    box-shadow: 10px 5px;
    box-shadow: #888888;
}

.card-body {
    margin-bottom: 10px;
}

.MuiBox-root{
    color: rgb(255, 255, 255);
    margin: auto;
    float: none;
    box-shadow: 10px 10px #888888;
}

.MuiTabs-root {
    color: white;
    box-shadow: 10px 10px #888888;
}

.MuiPaper-root {
    margin: auto;
    margin-bottom: 35px;
    box-shadow: 10px 10px #888888;

}

.MuiImageList-root{
    margin: auto;
    box-shadow: #888888;
    box-shadow: 10px 10px;
}

.MuiBottomNavigation-root {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
    box-shadow: #888888;
    box-shadow: 5px 5px;
}

.mb-2 {
    margin: auto;
    float: none;
}