*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://wallpapercave.com/wp/wp6470900.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
}